<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="page-header">
     <h1>Twilio</h1>
    </div>
    <form name="twilioForm" ng-submit="submit(message)">
      <div class="form-group">
        <label>Message</label>
        <input type="text" class="form-control" name="message" placeholder="What Message would you like to send?" ng-model="message.message" required>
        <label>Message</label>
        <input type="text" class="form-control" name="number" placeholder="What number shall we send it to? Use a 5551234567 format." ng-model="message.number" required>
      </div>
      <span ng-show="showErrorAlert" class="alert allert-danger">
        <p>There is an error!</p>
      </span>
      <span ng-show="success" class="alert alert-success">
        <strong>{{success}}</strong>
      </span>
      <div>
        <button ng-disabled="submitted" class="btn btn-lg btn-success" type="submit">Send a Message</button>
      </div>
    </form>
  </div>
</div>
</div>
