/* nav bar */
.logo {
  font-size: 200%;
}

/* home view */
.center {
  text-align: center;
  list-style-position:inside;
}

.home {
  font-size: 150%;
  background-color: #369;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 100px;
  line-height: 1;
  letter-spacing: -1px;
}

#banner p {
  font-size: 20px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #FF6600;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:300px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* chat */
.module {
  border: thin solid black;
  height: 100%;
  margin-bottom: 2em;
}
.module li {
  list-style-type: none;
}
.discussion {
  padding: 0;
}
.top-bar {
  height: 100%;
  color: blue;
  border-bottom: thin solid black;
}
.chat {
  overflow: scroll;
  height: 200px;
}
.avatar {
  float: left;
  border: thin solid black;
  margin-right: .5em;
}
.avatar img {
  width: 100%;
}
.messages {
  border-top: thin solid black;
}
.messages time {
}
.input {
  margin-top: 1em;
  border-top: thin solid black;
}
.input input {
  float: right;
}
.input select {
  float: left;
}
.input-wrapper {
  overflow: hidden;
  display: block;
  padding: 1;
}
.chat-input {
  width: 100%;
}
.other {
  list-style-type: none;
}